asgiref==3.8.1
beautifulsoup4==4.13.3
boto3==1.38.36
botocore==1.38.36
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cloudinary==1.43.0
coverage==7.8.0
crispy-bootstrap4==2024.10
cryptography==44.0.2
defusedxml==0.7.1
dj-database-url==0.5.0
Django==4.2.23
django-allauth==0.50.0
django-bootstrap4==25.1
django-cloudinary-storage==0.3.0
django-countries==7.6.1
django-crispy-forms==2.3
django-storages==1.14.6
gunicorn==23.0.0
idna==3.10
jmespath==1.0.1
oauthlib==3.2.2
packaging==24.2
pillow==11.1.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python3-openid==3.2.0
pytz==2025.2
requests==2.32.3
requests-oauthlib==2.0.0
s3transfer==0.13.0
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
stripe==12.0.0
typing_extensions==4.13.0
urllib3==2.3.0
whitenoise==6.9.0
